<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 welcome-title" style="margin-bottom: 50px">

    <div class="welcome-message">
      <%= image_tag("wooli_front_purple.png") %>
      <br>
      <h1 class="splash-pg-header">Woolli
        <p>Your Baby's Memories Captured and Never Forgotten.</p>
      </h1>

      <div class="splash-pg-list">
        Create a virtual baby book &nbsp &bull; &nbsp Store photos and special moments to a timeline &nbsp &bull; &nbsp Keep a record of your baby's growth
      </div>

       <a class="btn btn-primary btn-md fa fa-facebook-official" style="margin-top: 10px" href="/auth/facebook"> Facebook Sign In</a>

    </div>

  </div>
</div>